@page
@model RazorMegaDesk.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Desk Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="deskQuote.CustomerName" class="control-label"></label>
                <input asp-for="deskQuote.CustomerName" class="form-control" placeholder="Enter your full name here." />
                <span asp-validation-for="deskQuote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deskQuote.DeskMaterial" class="control-label"></label>
                <select asp-for="deskQuote.DeskMaterial" class="form-control" id="material_input" onchange="preview()">
                    <option value="Oak">Oak</option>
                    <option value="Laminate">Laminate</option>
                    <option value="Pine">Pine</option>
                    <option value="Rosewood">Rosewood</option>
                    <option value="Veneer">Veneer</option>
                </select>
                <span asp-validation-for="deskQuote.DeskMaterial" class="text-danger"></span>
            </div>
            <img id="material_preview" src="https://images.homedepot-static.com/productImages/9ce3484b-815d-46a9-9ad6-8368091db0d7/svn/bruce-hardwood-samples-ar-142696-64_400_compressed.jpg" alt="Material Preview" width="304" height="236">
            <div class="form-group">
                <label asp-for="deskQuote.Width" class="control-label"></label>
                <input asp-for="deskQuote.Width" class="form-control" placeholder="24 to 96 inches." />
                <span asp-validation-for="deskQuote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deskQuote.Depth" class="control-label"></label>
                <input asp-for="deskQuote.Depth" class="form-control" placeholder="12 to 48 inches." />
                <span asp-validation-for="deskQuote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deskQuote.NumberOfDrawers" class="control-label"></label>
                <select asp-for="deskQuote.NumberOfDrawers" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
                <span asp-validation-for="deskQuote.NumberOfDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deskQuote.RushDays" class="control-label"></label>
                <select asp-for="deskQuote.RushDays" class="form-control">
                    <option value="14">Standard Shipping: 14 days</option>
                    <option value="7">Rush Order: 7 days</option>
                    <option value="5">Rush Order: 5 days</option>
                    <option value="3">Rush Order: 3 days</option>
                </select>
                <span asp-validation-for="deskQuote.RushDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deskQuote.QuoteDate" class="control-label"></label>
                <input asp-for="deskQuote.QuoteDate" class="form-control" />
                <span asp-validation-for="deskQuote.QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
